<div class="container-fluid">
  <div class="row menu-header">
    <div class="col-lg-3 col-md-3 col-sm-6 col-12 text-center">
      <a [routerLink]="['/home']">Home</a>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-12 text-center">
      <a [routerLink]="['/ingredients']">Ingredientes populares</a>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-12 text-center">
      <a [routerLink]="['/plates']">Platillos</a>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-12 text-center">
      <a [routerLink]="['/profile']">Perfil del usuario</a>
    </div>
  </div>
</div>